<script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/components/materialize/dist/js/materialize.min.js"></script>
<script type="text/javascript" src="/components/vue/dist/vue.min.js"></script>
<script type="text/javascript" src="/components/lodash/dist/lodash.min.js"></script>
<script type="text/javascript" src="/components/moment/moment.js"></script>
<script type="text/javascript" src="/components/html2canvas/build/html2canvas.min.js"></script>
<script type="text/javascript" src="//openapi.map.naver.com/openapi/v3/maps.js?clientId=05DY7RHB92zFoCNRuOfy&submodules=panorama,geocoder"></script>
<script type="text/javascript" src="/components/jquery-loading/dist/jquery.loading.min.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76818111-4', 'auto');
  ga('send', 'pageview');

</script>


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-4160236743425285",
      enable_page_level_ads: true
    });
</script>
<script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script>
var sharedata = <%- JSON.stringify(data) %>;
</script>
<script type="text/javascript" src="/js/index.js"></script>

</body>
</html>
