<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta property="og:url" content="<%= url %>">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:type" content="website">
    <meta property="og:image" content="<%= image %>">
    <meta property="og:description" content="<%= description %>">
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="로또, 로또스탑, 복권, 로또당첨번호, LOTTO, 로또분석번호, 로또번호, 로또복권당첨번호, 로또복권, 로또복권당첨번호확인, 로또당첨번호확인, 나눔로또당첨번호, 로또복권당첨번호안내">
    <title><%= title %></title>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/components/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/components/animate.css/animate.min.css">
    <link rel="stylesheet" href="/components/jquery-loading/dist/jquery.loading.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <% if (ENV_DEVELOPMENT) { %>
      <script src="http://localhost:35729/livereload.js"></script>
    <% } %>
  </head>
  <body>
