<% include header %>
<div id="app" v-cloak>
  <header>
    <nav>
      <div class="nav-wrapper blue">
        <div class="row">
          <div class="col s12">
            <a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only">
              <i class="material-icons">search</i>
            </a>
            <a href="/" class="brand-logo">로또스탑
              <small class="hide-on-med-and-down">
                - 풍수지리 패턴 분석(Feng shui Pattern Analysis)</small>
            </a>

            <ul class="right">
              <li>
                <a class="waves-effect waves-light btn red hide-on-med-and-down" @click="drawNumber">번호뽑기</a>
              </li>

              <li class="hide-on-large-only cursor" @click="drawNumber">
                <b>번호뽑기</b>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div id="slide-out" class="side-nav fixed">
      <div class="row">
        <div class="col s12">
          <h1 class="center" id="logo">
            <a href="/">로또스탑</a>
          </h1>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <form id="form-local" class="card" @submit.prevent="searchLocal(local)">
            <input type="text" v-model="local" required="" autocomplete="off" placeholder="장소입력">
            <i class="material-icons" @click="searchLocal(local)">search</i>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <!-- 로또스탑 -->
          <ins class="adsbygoogle hide-on-med-and-down"
               style="display:block"
               data-ad-client="ca-pub-4160236743425285"
               data-ad-slot="2856294255"
               data-ad-format="rectangle"></ins>
        </div>
      </div>


      <div class="row">
        <div class="col s12">
          <ul class="tabs z-depth-1">
            <li class="tab col s6">
              <a class="active" href="#tab1">검색결과</a>
            </li>
            <li class="tab col s6">
              <a href="#tab2">뽑은목록</a>
            </li>
          </ul>
        </div>
        <div id="tab1" class="col s12">
          <ul class="collection">
            <template v-if="(localArr.length === 0) && isSearch">
              <li class="collection-item">
                <span class="red-text">'{{ localText }}'</span>
                에 대한 검색결과가 없습니다.
              </li>
            </template>

            <template v-if="(localArr.length !== 0)">
              <li class="collection-item">
                <span class="red-text">'{{ localText }}'</span>
                에 대한 검색결과
              </li>

              <li v-for="item in localArr" @click="setCenter(item)" class="collection-item cursor" v-bind:class="{active: item.isActive}">
                <div class="local-item">
                  <b>{{ item.title }}</b>
                  <br/>
                  <small>
                    {{ item.roadAddress || item.address }}
                  </small>
                </div>
              </li>
            </template>

            <template>
              <li class="collection-item grey lighten-2">
                <b>추천 장소</b>
                <i class="material-icons right cursor" @click="recommendRefresh">refresh</i>
              </li>
              <li v-for="item in recommendArr" @click="recommendLocal(item)" class="collection-item recommend cursor" v-bind:class="{active: item.isActive}">
                <div class="local-item">
                  <b>{{ item.title }}</b>
                  <br/>
                  <small>
                    {{ item.address }}
                  </small>
                </div>
              </li>
            </template>
          </ul>
        </div>
        <div id="tab2" class="col s12">
          <ul class="collection">
            <li class="collection-item grey lighten-2">
              <b>뽑은목록</b>
              <small class="right cursor" @click="resetHistory">초기화</small>
            </li>
            <li v-if="resultHistory.length === 0"class="collection-item">
              뽑은 번호가 없습니다.
            </li>

            <template v-for="(list, key) in groupByResult">
              <li class="collection-item grey lighten-4">
                <small>{{key}}</small>
              </li>

              <li v-for="(item, index) in list" @click="historyLocal(item)" class="collection-item cursor"  v-bind:class="{active: item.isActive}">
                <div class="local-item">
                  <div>
                    <b>{{ item.title }}</b>
                    <small class="right" @click.stop="deleteHistory(item.uuid)">삭제</small>
                  </div>
                  <small>
                    {{ momentFormat(item.time, 'YYYY.MM.DD HH:mm:ss') }}
                  </small>

                  <div>
                    <div class="num" v-for="num in item.numberArr" v-bind:key="num" v-bind:style="{ backgroundColor: num.color, borderColor: num.color }">
                      {{ num.num }}
                    </div>
                  </div>
                </div>
              </li>
            </template>
          </ul>
        </div>

        <div class="col s12 div-description">
          <b class="small">
            ※ 풍수지리 패턴 분석(Feng shui Pattern Analysis) 이란?
          </b>
          <p class="small mt-0">
            풍수지리는 음양오행(陰陽五行)을 기초로 정리된 학문입니다.
            풍수지리적으로 좋은 지역을 매번 방문하는건 많은 시간과 비용이 들지만,
            거리뷰 시스템을 이용해 해당 지역의 위도, 경도 등의 위치정보와 '자축인묘진사오미신유술해' 십이지(十二支)를 바탕으로한 자체 알고리즘으로 로또 당첨번호를 예상합니다.
          </p>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div id="pano">

    </div>
  </main>

  <footer>
  </footer>

  <div id="modal-result" class="modal center">
    <div class="modal-content">
      <h5 class="bold">풍수지리 패턴 분석결과</h5>

      <div>
        <h4 class="bold">{{ resultModalObj.title }}</h4>
        <small>{{ resultModalObj.address }}</small>
      </div>

      <div v-if="resultModalObj.chineseZodiac">
        <b>{{ resultModalObj.time }}</b><br />
        <small>{{ formatedYear(resultModalObj.time) }} {{ resultModalObj.chineseZodiac.name}}({{ resultModalObj.chineseZodiac.chinese}})시</small>
        <br />
        <small>{{ resultModalObj.chineseZodiac.description}}</small>
      </div>

      <div>
        <div class="num" v-for="num in resultModalObj.numberArr" v-bind:key="num"  v-bind:style="{ backgroundColor: num.color, borderColor: num.color }">
          {{ num.num }}
        </div>
      </div>

      <div>
        1등 당첨을 기원합니다.
      </div>
    </div>
    <div class="modal-footer">
      <%# <button type="button" class="modal-action waves-effect waves-light btn yellow" @click="btnShare(resultModalObj)">공유하기</button>%>
      <button type="button" class="modal-action modal-close waves-effect waves-light btn blue">확인</button>
    </div>
  </div>


  <div id="overlay" v-bind:class="{active: isDraw}">
    <div id="loading"  v-bind:class="{active: isLoading}">
      <img src="/img/Spin.gif" alt="Loading..." width="100px" />
      <h4>
        풍수지리 패턴 분석중 ...
      </h4>
    </div>
  </div>

  <transition-group name="center-num" class="center-num" tag="div" enter-active-class="animated bounceIn" leave-active-class="animated bounceOut">
    <div v-for="num in numberArr" v-bind:key="num" v-if="num.isShow" v-bind:style="{ backgroundColor: num.color, borderColor: num.color }">
      {{ num.num }}
    </div>
  </transition-group>

</div>
<% include footer %>
