[v-cloak] {
  display: none;
}
.mb-0 {
  margin-bottom: 0;
}
.mt-0 {
  margin-top: 0;
}
#logo {
  margin-bottom: 0;
}
.small {
  font-size: x-small;
}
.cursor {
  cursor: pointer;
}
.bold {
  font-weight: bold;
}
.num {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  text-align: center;
  color: white;
}
.num + .num {
  margin-left: 5px;
}
#modal-result {
  max-width: 300px;
}
#modal-result .btn {
  width: 100%;
}
#modal-result h4 {
  margin-bottom: 0;
}
#modal-result > .modal-content {
  background-color: white;
}
#modal-result > .modal-content > div {
  margin-bottom: 10px;
}
#modal-result > .modal-content > div:last-child {
  margin-bottom: 0;
}
#modal-result > .modal-footer {
  height: auto;
  background-color: white;
}
#modal-result > .modal-footer button {
  float: none;
}
.center-num {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1002;
  width: 100px;
  height: 100px;
  will-change: top, opacity;
}
.center-num div {
  position: absolute;
  width: 100%;
  font-size: 50px;
  text-align: center;
  color: white;
  z-index: 1;
  background-color: white;
  line-height: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
footer,
header,
main {
  padding-left: 300px;
}
main {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #eee;
}
main #pano {
  height: 100%;
}
.cursor {
  cursor: pointer;
}
.collection {
  border-radius: 0;
}
.collection .collection-item * {
  vertical-align: middle;
}
.collection .collection-item.cursor:hover {
  background-color: #eee;
}
.collection .collection-item.cursor.active {
  background-color: #fff;
  color: #2196F3;
}
.collection .collection-item.cursor.active:hover {
  background-color: #eee;
}
#form-local:focus {
  color: red;
}
#form-local input {
  display: block;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  height: 45px;
  margin: 0;
  box-sizing: border-box;
  padding: 0 45px 0 15px;
  border: 0;
}
#form-local input:focus {
  border-bottom: 1px solid #f6b2b5 !important;
  box-shadow: 0 1px 0 0 #f6b2b5 !important;
}
#form-local i {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
#overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  will-change: opacity;
}
#overlay.active {
  z-index: 1002;
  display: table;
}
#overlay #loading {
  vertical-align: middle;
  text-align: center;
  color: white;
  display: none;
}
#overlay #loading.active {
  display: table-cell;
}
@media only screen and (max-width: 992px) {
  footer,
  header,
  main {
    padding-left: 0;
  }
}
